.header {
  background-color: black;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
}

.logo {
  display: block;
}

.first__section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.second__section {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: black;
}

.menu {
  display: block;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.a {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.search {
  all: unset;
  width: 170px;
  height: 38px;
  color: #6c757d;
  background-color: white;
  border: solid 1px #6c757d;
  text-align: center;
}

.search__apply {
  all: unset;
  width: 80px;
  height: 38px;
  font-weight: 500;
  color: white;
  background-color: black;
  border: solid 1px white;
  text-align: center;
}

.hamburguer {
  display: none;
}

@media (max-width: 768px) {
}

@media (max-width: 325px) {
}
