.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
  width: 100%;
  height: auto;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  max-width: 100%;
}

.banner {
  width: 100%;
  height: auto;
}

.arrows {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: absolute;
  top: 50%;
  padding: 0 47px;
}

.arrow {
  all: unset;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 92%;
}

.dot {
  width: 102px;
  height: 3px;
  background-color: white;
  opacity: 0.5;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  opacity: 1;
}
