.dialog {
  width: 700px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 28px;
  background-color: black;
}

.firstsection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.button {
  all: unset;
  cursor: pointer;
}

.content{
  width: 100%;
  height: auto;
  padding: 16px 16px 32px 16px;
}

@media (max-width: 768px) {
  .dialog {
    width: 343px;
  }
}