.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;

  &__image {
    width: 350px;
    height: 422px;
  }

  &__first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;

    &__name {
      font-size: 16px;
      font-weight: 700;
      color: #212529;
    }
    &__description {
      font-size: 13px;
      font-weight: 400;
      color: #212529;
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 16px;

    &__price {
      font-size: 20px;
      font-weight: 500;
      color: #212529;
    }
    &__seller {
      font-size: 13px;
      font-weight: 400;
      color: #adb5bd;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__field {
      all: unset;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding-top: 16px;
      margin-bottom: 16px;
      border-top: 1px solid #d8d8d8;

      &__selector {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &__input {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          &__input:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: white;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 1px solid #dee2e6;
          }
          &__input:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }
        }
      }
    }

    &__submit {
      all: unset;
      width: 180px;
      height: 37px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: white;
      background-color: #9353ff;
      padding: 9px 16px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .details {
    &__image {
      width: 100%;
      height: auto;
    }
  }
}
