.main__content {
  width: 100%;
  padding: 0 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 32px;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 72px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  row-gap: 24px;
}

.category {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.category__image {
  width: 100%;
  height: auto;
  display: block;
}

.category__name__box {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.category__name {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.products__section {
  width: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product__image {
  width: 100%;
  height: 422px;
  display: block;
}

.product__info {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-top: 0;
  padding: 13px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__name {
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}

.product__description {
  font-size: 13px;
  font-weight: 400;
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}

.more {
  all: unset;
  width: 102px;
  height: 37px;
  background-color: #9353ff;
  text-align: center;
  color: white;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .main__content {
    padding: 0 39px;
  }

  .title {
    font-weight: 500;
    font-size: 28px;
  }

  .categories {
    margin-top: 40px;
  }

  .category {
    width: 210px;
  }

  .products__section {
    margin-top: 45px;
  }

  .product {
    width: 330px;
  }

  .product__image {
    height: 389px;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 0 27px;
  }

  .categories {
    gap: 24px;
    margin-top: 24px;
  }

  .filters {
    row-gap: 16px;
  }

  .category {
    width: 146px;
  }

  .products__section {
    margin-top: 50px;
  }

  .product {
    width: 323px;
  }

  .product__image {
    height: 402px;
  }
}
