.main__content {
  width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 72px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  row-gap: 24px;
}

.products__section {
  width: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.moreinfo {
  width: 100vw;
  height: 238px;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: black;

  &__title {
    font-size: 32px;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  &__infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  &__info {
    width: 304px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    &__title {
      font-size: 16px;
      font-weight: 700;
      color: #daff01;
    }

    &__text {
      font-size: 13px;
      font-weight: 400;
      color: white;
    }
  }
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;

  &__image {
    width: 350px;
    height: 422px;
  }

  &__first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;

    &__name {
      font-size: 16px;
      font-weight: 700;
      color: #212529;
    }
    &__description {
      font-size: 13px;
      font-weight: 400;
      color: #212529;
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 16px;

    &__price {
      font-size: 20px;
      font-weight: 500;
      color: #212529;
    }
    &__seller {
      font-size: 13px;
      font-weight: 400;
      color: #adb5bd;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__field {
      all: unset;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding-top: 16px;
      margin-bottom: 16px;
      border-top: 1px solid #d8d8d8;

      &__selector {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &__input {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          &__input:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: white;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 1px solid #DEE2E6;
          }
          &__input:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }
        }
      }
    }

    &__submit {
      all: unset;
      width: 180px;
      height: 37px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: white;
      background-color: #9353ff;
      padding: 9px 16px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

.newsletter {
  width: 729px;
  height: 190px;
  padding: 40px;
  margin: 65px 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;

    &__strong {
      font-weight: 500;
    }
  }

  &__form {
    margin-top: 24px;
  }

  &__email {
    all: unset;
    width: 426px;
    height: 38px;
    padding: 0 15px;
    border: 1px solid black;
    border-right: none;
    box-sizing: border-box;
  }

  &__send {
    all: unset;
    width: 84px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: #9353ff;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .main__content {
    width: 690px;
  }

  .title {
    font-weight: 500;
    font-size: 28px;
  }

  .categories {
    margin-top: 40px;
  }

  .products__section {
    margin-top: 45px;
  }

  .moreinfo {
    height: 460px;
    margin-top: 53px;

    &__infos {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .newsletter {
    width: 690px;
    margin: 28px 0;

    &__text {
      font-size: 16px;
    }

    &__email {
      width: 327px;
    }
  }
}

@media (max-width: 768px) {
  .main__content {
    width: 322px;
  }

  .categories {
    gap: 24px;
    margin-top: 24px;
  }

  .filters {
    row-gap: 16px;
  }

  .products__section {
    margin-top: 50px;
  }

  .moreinfo {
    height: 455px;
    margin-top: 48px;

    &__title {
      font-size: 24px;
    }

    &__image {
      width: 56px;
      height: 57px;
    }
  }

  .newsletter {
    width: 321px;
    height: 179px;
    padding: 24px;
    margin: 28px 0;

    &__text {
      font-size: 16px;
    }

    &__email {
      width: 175px;
    }
  }

  .details {
    &__image {
      width: 100%;
      height: auto;
    }
  }
}
